{% extends 'base.html.twig' %}

{% block title %}Welcome In RED Website{% endblock %}

{% block content %}
<!-- Start Home Slides Area -->
		<div class="home-slides">
		    <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>Welcome to</h3>
                                    <h2><span>Lawyer</span>Court</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="about-us.html" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="main-banner item-bg-two">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>We Provide Total</h3>
                                    <h2><span>Law</span> Services Solution</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="appointment.html" class="btn btn-primary">Make an Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="main-banner item-bg-three">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>Experience Lawyer</h3>
                                    <h2>Find The Right <span>Lawyer</span></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="contact-style-one.html" class="btn btn-primary">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<!-- End Home Slides Area -->
		
		<!-- Start Lawyer Boxes Area -->
        <section class="lawyer-boxes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-1">
                            <i class="fa fa-pencil-square-o"></i>
                            <h3>Request a Lawyer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-2">
                            <i class="fa fa-gavel"></i>
                            <h3>Case Investigation</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-3">
                            <i class="fa fa-search-plus"></i>
                            <h3>Search Directory</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Lawyer Boxes Area -->
		
		<!-- Start About Area -->
		<section class="about-area ptb-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 col-md-12">
		                <div class="about-text">
		                    <div class="section-title">
		                        <h3>Who We Are</h3>
		                        <h2>Welcome to <span>LawyerCourt</span></h2>
		                    </div>
		                    <p><b><i>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</i></b></p>
		                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		                    
                            <div class="row">
                                <div class="col-lg-5 col-md-12">
                                    <div class="lawyer-features">
                                        <ul class="pull-left">
                                            <li><i class="fa fa-check-square"></i> Expert Lawyer</li>
                                            <li><i class="fa fa-check-square"></i> Quick Complate Case</li>
                                            <li><i class="fa fa-check-square"></i> Fast Support</li>
                                            <li><i class="fa fa-check-square"></i> Free Counseling</li>
                                        </ul>

                                        <ul>
                                            <li><i class="fa fa-check-square"></i> Fast Support</li>
                                            <li><i class="fa fa-check-square"></i> Free Counseling</li>
                                            <li><i class="fa fa-check-square"></i> Expert Lawyer</li>
                                            <li><i class="fa fa-check-square"></i> Quick Complate Case</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="col-lg-7 col-md-12">
                                    <blockquote class="blockquote">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
		                    
		                    <a href="about-us.html" class="btn btn-primary">Read More</a>
		                    <a href="contact-style-one.html" class="btn btn-primary">Contact Us</a>
		                </div>
		            </div>
		            
		            <div class="col-lg-12 col-md-12">
		                <div class="about-image">
		                    <img src="assets/img/about-us-img.png" alt="about-us-img">
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End About Area -->
      
        <!-- Start Services Area -->
		<section class="services-area ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>We offer a Broad Range</h3>
                    <h2>Law <span>Services</span></h2>
                </div>
		        <div class="row">
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-university"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Free Consulting</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-gavel"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Discuss Strategy Builds</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-hourglass"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Special Services</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-balance-scale"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Civil Law</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-link"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Criminal Charges</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-users"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Family Disputes</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-12 col-md-12 col-sm-12">
		                <div class="browse-all-btn">
		                    <a href="services-style-one.html" class="btn btn-primary">Browse All Services</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End Services Area Area -->
       
        <!-- Start Register Area -->
        <section class="register-area ptb-80">
           <div class="container">
               <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="contact-now">
                            <h3>Contact Us Today.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus consequat dui, ut cursus diam vulputate a. Praesent sit amet arcu ligula. Integer eget arcu feugiat, auctor quam id, porta felis.</p>
                            <a href="contact-style-one.html" class="btn btn-primary">Contact Us Now</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="appointment-form">
                            <div class="section-title">
                                <h3>Register</h3>
                                <h2><span>Appointment</span> Form</h2>
                            </div>
                            <form class="">
                               <div class="row">
                                   <div class="col-lg-12 col-md-12">
                                       <div class="form-group">
                                           <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                       </div>
                                   </div>

                                   <div class="col-lg-6 col-md-6">
                                       <div class="form-group">
                                           <input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
                                       </div>
                                   </div>

                                   <div class="col-lg-6 col-md-6">
                                       <div class="form-group">
                                           <input type="text" name="phone-number" id="phone-number" class="form-control" placeholder="Phone Number">
                                       </div>
                                   </div>

                                   <div class="col-lg-6 col-md-6">
                                       <div class="form-group">
                                           <input type="text" name="date" id="date" class="form-control" placeholder="mm/dd/yyyy">
                                       </div>
                                   </div>

                                   <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                   </div>

                                   <div class="col-lg-12 col-md-12">
                                       <div class="form-group">
                                            <textarea name="message" id="message" cols="30" rows="6" placeholder="Message" class="form-control"></textarea>
                                       </div>
                                   </div>

                                   <div class="col-lg-12 col-md-12">
                                       <button type="submit" class="btn btn-primary">Appointment</button>
                                   </div>
                               </div>
                            </form>
                       </div>
                   </div>
               </div>
           </div>
       </section>
        <!-- End Register Area -->
       
        <!-- Start Practice Area -->
		<section class="practice-area ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>Rehearses</h3>
                    <h2><span>Practice</span> Area</h2>
                </div>
		        <div class="row">
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img1.jpg" alt="practice-img">
                                <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Personal Injury</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img2.jpg" alt="practice-img">
		                        <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Fraud</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img3.jpg" alt="practice-img">
		                        <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Construction Accidents</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img4.jpg" alt="practice-img">
		                        <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Money Laundering</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img5.jpg" alt="practice-img">
		                        <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Car Accident</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img6.jpg" alt="practice-img">
		                        <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Construction Matters</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            	            
		            <div class="col-lg-12 col-md-12 col-sm-12">
		                <div class="browse-all-btn">
		                    <a href="practice-style-one.html" class="btn btn-primary">Browse All Practice</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End Practice Area -->
       
       <!-- Start Our Working Way Area -->
		<section class="our-working-way ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>Working Process</h3>
                    <h2>Our <span>Working</span> Way</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-working right-arrow">
                            <div class="icon">
                                <i class="icofont icofont-document-search"></i>
                            </div>
                            <div class="working-content">
                                <h3>Analyzing <span>Case</span></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-working right-arrow">
                            <div class="icon">
                                <i class="icofont icofont-file-text"></i>
                            </div>
                            <div class="working-content">
                                <h3>Research & <span>Investigation</span></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-working">
                            <div class="icon">
                                <i class="icofont icofont-court-hammer"></i>
                            </div>
                            <div class="working-content">
                                <h3>Court of Law <span>Success</span></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</section>
		<!-- End Our Working Way Area -->
        
        <!-- Start Attorneys Area -->
        <section class="attorneys-area ptb-80">
            <div class="container">
                <div class="section-title">
                    <h3>Meet The Attorneys</h3>
                    <h2>Our <span>Attorneys</span></h2>
                </div>
                <div class="row">
                    <div class="attorneys-slider">
                        <div class="col-lg-12">
                            <div class="our-attorney">
                                <div class="pic">
                                    <img src="assets/img/attorneys-img1.jpg" alt="attorneys-img">
                                </div>
                                <div class="attorney-content">
                                    <h3 class="title"><a href="attorneys-details.html">Julius Erving</a></h3>
                                    <span class="post">Senior Attorney</span>
                                </div>
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="our-attorney">
                                <div class="pic">
                                    <img src="assets/img/attorneys-img2.jpg" alt="attorneys-img">
                                </div>
                                <div class="attorney-content">
                                    <h3 class="title"><a href="attorneys-details.html">Emma Eva</a></h3>
                                    <span class="post">Corporate Lawyer</span>
                                </div>
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="our-attorney">
                                <div class="pic">
                                    <img src="assets/img/attorneys-img3.jpg" alt="attorneys-img">
                                </div>
                                <div class="attorney-content">
                                    <h3 class="title"><a href="attorneys-details.html">Dave Bing</a></h3>
                                    <span class="post">Family Lawyer</span>
                                </div>
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="our-attorney">
                                <div class="pic">
                                    <img src="assets/img/attorneys-img4.jpg" alt="attorneys-img">
                                </div>
                                <div class="attorney-content">
                                    <h3 class="title"><a href="attorneys-details.html">Olivia Sophia</a></h3>
                                    <span class="post">Business Lawyer</span>
                                </div>
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="our-attorney">
                                <div class="pic">
                                    <img src="assets/img/attorneys-img5.jpg" alt="attorneys-img">
                                </div>
                                <div class="attorney-content">
                                    <h3 class="title"><a href="attorneys-details.html">Rick Barry</a></h3>
                                    <span class="post">Corporate Lawyer</span>
                                </div>
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Attorneys Area -->
        
        <!-- Start Fun Facts Area -->
        <section class="fun-facts-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funFacts">
                            <div class="icon">
                                <i class="icofont icofont-user-suited"></i>
                            </div>
                            <div class="text">
                                <h3 class="count">53</h3>
                                <p>Qualified Lawyers</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funFacts">
                            <div class="icon">
                                <i class="icofont icofont-users"></i>
                            </div>
                            <div class="text">
                                <h3 class="count">502</h3>
                                <p>Trusted Clients</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funFacts">
                            <div class="icon">
                                <i class="icofont icofont-like"></i>
                            </div>
                            <div class="text">
                                <h3 class="count">709</h3>
                                <p>Successful Cases</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funFacts">
                            <div class="icon">
                                <i class="icofont icofont-trophy-alt"></i>
                            </div>
                            <div class="text">
                                <h3 class="count">285</h3>
                                <p>Awards Win</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Fun Facts Area -->
        
        <!-- Start Why Choose Us Area -->
		<section class="why-choose-us ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>Recent Case Study</h3>
                    <h2>Why <span>Choose</span> Us</h2>
                </div>
		        <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>Expert Lawyer</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>1</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>Quick Complate Case</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>2</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>14 Years of Experience</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>3</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>Low Cost For Every Case</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>4</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>Fight For Justice</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>5</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-choose">
                            <h3>Free Counseling</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua. Ut enim ad minim venium.</p>
                            <span>6</span>
                        </div>
                    </div>
		        </div>
		    </div>
		</section>
		<!-- End Why Choose Us Area -->
        
        <!-- Start Advertise Area -->
        <section class="advertise-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8">
                        <h3>Do you need professional legal assistance?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis leo eget maximus volutpat. Nulla eget bibendum urna, et vehicula ante. Donec et diam sodales, pellentesque est a, posuere ex.</p>
                    </div>
                    
                    <div class="col-lg-5 col-md-4">
                        <div class="contact-btn">
                            <a href="contact-style-one.html" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Advertise Area -->
        
        <!-- Start Blog Area -->
        <section class="blog-area ptb-80">
            <div class="container">
                <div class="section-title">
                    <h3>Latest News</h3>
                    <h2>Our <span>Blog</span></h2>
                </div>
                <div class="row">
                    <div class="blog-slider">
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img1.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>15 Jan<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Employment tribunal hears cases against National Gallery</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 301</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 31</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img2.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>19 Jan<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Are lawyers allowed to represent family members?</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 220</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 19</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img3.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>20 Feb<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Lawyer who asked woman to bend over censured, fined</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 199</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
        
        <!-- Start Testimonials Area -->
        <section class="testimonials-area ptb-80">
            <div class="container">
                <div class="section-title">
                    <h3>Testimonials</h3>
                    <h2><span>Customer</span> Review</h2>
                </div>
                <div class="row">
                    <div class="testimonials-slider">
                        <div class="col-lg-12">
                            <div class="single-feedback">
                                <div class="client-info">
                                    <div class="pic">
                                        <img src="assets/img/client-avatar1.jpg" alt="client-avatar">
                                    </div>
                                    <h4>Roberto Carlos</h4>
                                    <span>CEO at Google</span>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-feedback">
                                <div class="client-info">
                                    <div class="pic">
                                        <img src="assets/img/client-avatar2.jpg" alt="client-avatar">
                                    </div>
                                    <h4>Mark Kane</h4>
                                    <span>CEO at Twitter</span>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-feedback">
                                <div class="client-info">
                                    <div class="pic">
                                        <img src="assets/img/client-avatar3.jpg" alt="client-avatar">
                                    </div>
                                    <h4>David Smith</h4>
                                    <span>CEO at Facebook</span>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Area -->
        
        <!-- Start Partner Area -->
        <section class="partner-area ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>Clinet</h3>
                    <h2>Our <span>Partner</span></h2>
                </div>
		        <div class="row">
                    <div class="partner-slider">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
                        </div>
                    </div>
		        </div>
		    </div>
		</section>
        <!-- End Partner Area -->
{% endblock %}
