{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de RED{% endblock %}

{% block content %}
<!-- Start Home Slides Area -->
		<div class="home-slides">
		    <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>Welcome to</h3>
                                    <h2><span>Lawyer</span>Court</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="about-us.html" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="main-banner item-bg-two">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>We Provide Total</h3>
                                    <h2><span>Law</span> Services Solution</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="appointment.html" class="btn btn-primary">Make an Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
           
		</div>
		<!-- End Home Slides Area -->
		
		<!-- Start Lawyer Boxes Area -->
        <section class="lawyer-boxes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-1">
                            <i class="fa fa-pencil-square-o"></i>
                            <h3>Request a Lawyer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-2">
                            <i class="fa fa-gavel"></i>
                            <h3>Case Investigation</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="box bg-3">
                            <i class="fa fa-search-plus"></i>
                            <h3>Search Directory</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Lawyer Boxes Area -->
        
         <!-- Start Blog Area -->
        <section class="blog-area ptb-80">
            <div class="container">
                <div class="section-title">                    
                    <h2>Derniers <span>Articles</span></h2>
                </div>
                <div class="row">
                    <div class="blog-slider">
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img1.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>15 Jan<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Employment tribunal hears cases against National Gallery</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 301</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 31</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img2.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>19 Jan<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Are lawyers allowed to represent family members?</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 220</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 19</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="single-blog-post">
                                <div class="thumb">
                                    <img src="assets/img/blog-img3.jpg" alt="blog-img">
                                    <div class="blog-link">
                                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="date">
                                        <span>20 Feb<br>2018</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Lawyer who asked woman to bend over censured, fined</a></h3>
                                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i> 199</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
      
        <!-- Start Services Area -->
		<section class="services-area ptb-80">
		    <div class="container">
                <div class="section-title">                    
                    <h2>Etude de la <span>méthodolgie</span></h2>
                </div>
		        <div class="row">
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-university"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Free Consulting</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-gavel"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Discuss Strategy Builds</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-hourglass"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Special Services</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-balance-scale"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Civil Law</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-link"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Criminal Charges</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="services-box">
		                    <div class="icon">
		                        <i class="fa fa-users"></i>
		                    </div>
		                    <div class="services-text">
		                        <h3><a href="services-details.html">Family Disputes</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-12 col-md-12 col-sm-12">
		                <div class="browse-all-btn">
		                    <a href="services-style-one.html" class="btn btn-primary">Browse All Services</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End Services Area Area --> 
       
        <!-- Start Practice Area -->
		<section class="practice-area ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h2><span>Cas</span> Pratiques</h2>
                </div>
		        <div class="row">
		            <div class="col-lg-4 col-md-6 col-sm-6">
		                <div class="practice-box">
		                    <div class="thumb">
		                        <img src="assets/img/practice-img1.jpg" alt="practice-img">
                                <div class="practice-link">
                                    <a href="practice-details.html"><i class="fa fa-link"></i></a>
                                </div>
		                    </div>
		                    <div class="practice-text">
		                        <h3><a href="practice-details.html">Personal Injury</a></h3>
		                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		                    </div>
		                </div>
		            </div>
		            	            
		            <div class="col-lg-12 col-md-12 col-sm-12">
		                <div class="browse-all-btn">
		                    <a href="practice-style-one.html" class="btn btn-primary">Tous voir</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End Practice Area -->
{% endblock %}
