<!-- Start Partner Area -->
<section class="partner-area ptb-80">
    <div class="container">
        <div class="section-title">

            <h2>Nos <span>Partenaires</span></h2>
        </div>
        <div class="row">
            <div class="partner-slider">
                <div class="item">
                    <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner Area -->
<footer class="footer-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widgets">
                    <div class="footer-logo">
                        <a href="{{ path ('home_RED') }}"> <img src="assets/image_red/1.jpeg" alt="logo"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed eiusmod tempor incididunt ut labore et dolor emagna eliqua.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widgets">
                    <h3>Liens utiles</h3>
                    <ul class="usefull-links">
                        <li><a href="index.html"><i class="fa fa-angle-double-right"></i> Accueil</a></li>
                        <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i> A propos</a></li>
                        <li><a href="services-style-one.html"><i class="fa fa-angle-double-right"></i> cas pratique</a></li>
                        <li><a href="gallery-style-one.html"><i class="fa fa-angle-double-right"></i> Méthodolgie</a></li>
                        <li><a href="blog-style-one.html"><i class="fa fa-angle-double-right"></i> Blog</a></li>
                        <li><a href="faq.html"><i class="fa fa-angle-double-right"></i> Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widgets">
                    <h3>Liens utiles</h3>
                    <div class="latest-tweets-post">
                        <div class="icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, <a href="#">@Morbi turpis massa</a></p>
                            <span>About an hour ago</span>
                        </div>
                    </div>

                    <div class="latest-tweets-post mb-0">
                        <div class="icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, <a href="#">@Morbi turpis massa</a></p>
                            <span>About an hour ago</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widgets">
                    <h3>Contactez-nous</h3>
                    <ul class="contact-us">
                        <li><i class="fa fa-map-marker"></i> Saint-Etienne France</li>

                        <li><i class="fa fa-envelope"></i> <a href="#">  info@red.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p><i class="fa fa-copyright"></i> 2020 <a href="http://envytheme.com/" target="_blank">RED.</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>