<!-- Start Top Header Area -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <p><a href="#"><i class="fa fa-envelope"></i> info@red.com</a></p>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="contact-style-one.html" class="btn btn-primary">Se connecter</a>
            </div>
        </div>
    </div>



</header>