{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3>About Us</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>/</li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start About Area -->
    <section class="about-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="about-text">
                        <div class="section-title">
                            <h3>Who We Are</h3>
                            <h2>Welcome to <span>LawyerCourt</span></h2>
                        </div>
                        <p><b><i col-md-12>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</i></b></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                        <div class="row">
                            <div class="col-lg-5 col-md-12">
                                <div class="lawyer-features">
                                    <ul class="pull-left">
                                        <li><i class="fa fa-check-square"></i> Expert Lawyer</li>
                                        <li><i class="fa fa-check-square"></i> Quick Complate Case</li>
                                        <li><i class="fa fa-check-square"></i> Fast Support</li>
                                        <li><i class="fa fa-check-square"></i> Free Counseling</li>
                                    </ul>

                                    <ul>
                                        <li><i class="fa fa-check-square"></i> Fast Support</li>
                                        <li><i class="fa fa-check-square"></i> Free Counseling</li>
                                        <li><i class="fa fa-check-square"></i> Expert Lawyer</li>
                                        <li><i class="fa fa-check-square"></i> Quick Complate Case</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-12">
                                <blockquote class="blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="about-image">
                        <img src="assets/img/about-us-img.png" alt="about-us-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->

    <!-- Start Our MissoinVision Area -->
    <section class="our-missionVision ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="mission-content">
                        <div class="section-title">
                            <h3>We Proud</h3>
                            <h2>Our <span>Mission</span></h2>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Expert Lawyer</li>
                            <li><i class="fa fa-check-square-o"></i> Quick Complate Case</li>
                            <li><i class="fa fa-check-square-o"></i> Fast Support</li>
                            <li><i class="fa fa-check-square-o"></i> Free Counseling</li>
                            <li><i class="fa fa-check-square-o"></i> Free Support</li>
                        </ul>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="vision-content">
                        <div class="section-title">
                            <h3>We Proud</h3>
                            <h2>Our <span>Vision</span></h2>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Expert Lawyer</li>
                            <li><i class="fa fa-check-square-o"></i> Quick Complate Case</li>
                            <li><i class="fa fa-check-square-o"></i> Fast Support</li>
                            <li><i class="fa fa-check-square-o"></i> Free Counseling</li>
                            <li><i class="fa fa-check-square-o"></i> Free Support</li>
                        </ul>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our MissoinVision Area -->
    <!-- Start Attorneys Area -->
    <section class="attorneys-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h3>Meet The Attorneys</h3>
                <h2>Our <span>Attorneys</span></h2>
            </div>
            <div class="row">
                <div class="attorneys-slider">
                    <div class="col-lg-12">
                        <div class="our-attorney">
                            <div class="pic">
                                <img src="assets/img/attorneys-img1.jpg" alt="attorneys-img">
                            </div>
                            <div class="attorney-content">
                                <h3 class="title"><a href="attorneys-details.html">Julius Erving</a></h3>
                                <span class="post">Senior Attorney</span>
                            </div>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-attorney">
                            <div class="pic">
                                <img src="assets/img/attorneys-img2.jpg" alt="attorneys-img">
                            </div>
                            <div class="attorney-content">
                                <h3 class="title"><a href="attorneys-details.html">Emma Eva</a></h3>
                                <span class="post">Corporate Lawyer</span>
                            </div>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-attorney">
                            <div class="pic">
                                <img src="assets/img/attorneys-img3.jpg" alt="attorneys-img">
                            </div>
                            <div class="attorney-content">
                                <h3 class="title"><a href="attorneys-details.html">Dave Bing</a></h3>
                                <span class="post">Family Lawyer</span>
                            </div>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-attorney">
                            <div class="pic">
                                <img src="assets/img/attorneys-img4.jpg" alt="attorneys-img">
                            </div>
                            <div class="attorney-content">
                                <h3 class="title"><a href="attorneys-details.html">Olivia Sophia</a></h3>
                                <span class="post">Business Lawyer</span>
                            </div>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-attorney">
                            <div class="pic">
                                <img src="assets/img/attorneys-img5.jpg" alt="attorneys-img">
                            </div>
                            <div class="attorney-content">
                                <h3 class="title"><a href="attorneys-details.html">Rick Barry</a></h3>
                                <span class="post">Corporate Lawyer</span>
                            </div>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Attorneys Area -->
{% endblock %}

