<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="EnvyTheme">
        <meta name="keywords" content="advisor, attorney, business, chartered, court, judge, lawyer, legal, advocate, barrister, company law, consultant, corporate, finance, law, law firm, legal adviser, solicitor">
        <meta name="description" content="Abhy is a Creative and Responsive Professional HTML template for Lawyers, Attorneys, Corporate sites etc.">
        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/assets/css/animate.css">
        <!-- Font Awesome Min CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <!-- IcoFont Min CSS -->
        <link rel="stylesheet" href="/assets/css/icofont.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <!-- Classy Nav Min CSS-->
        <link rel="stylesheet" href="/assets/css/classy-nav.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- Responsive Min CSS -->
        <link rel="stylesheet" href="/assets/css/responsive.css">
        <!-- Color Default CSS -->	
		<link rel="stylesheet" href="/assets/css/color/color-default.css">

        <title>{% block title %} RED {% endblock %}
        </title>
    </head>
    
    <body>
        <!-- Start Preloader Area -->
        <div id="preloader-area">
            <div class="loader">
                <div id="largeBox"></div>
                <div id="smallBox"></div>
            </div>
        </div>
        <!-- End Preloader Area -->
       
        <!-- Start Top Header Area -->
        {% include '/partials/header.html.twig' %}
        <!-- End Top Header Area -->
        <!-- Start Main Menu Area -->
        <div class="main-header-area header-sticky">
            <div class="container">
				<div class="classy-nav-container breakpoint-off">
					<!-- Classy Menu -->
					<nav class="classy-navbar justify-content-between" id="eduNav">

						<!-- Logo -->
						<a class="nav-brand" href="{{ path ('home_RED') }}"><img src="/assets/img/logo_red.png" alt="logo"></a>

						<!-- Navbar Toggler -->
						<div class="classy-navbar-toggler">
							<span class="navbarToggler"><span></span><span></span><span></span></span>
						</div>

						<!-- Menu -->
						<div class="classy-menu">

							<!-- close btn -->
							<div class="classycloseIcon">
								<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
							</div>

							<!-- Nav Start -->
							<div class="classynav">
								<ul>
									<li><a href="{{ path ('home_RED') }}" class="active">Accueil</a>
									</li>
									<li><a href="#">L'Association</a>
                                        <ul class="dropdown">
                                            <li><a href="">Réseau RED</a></li>
                                            <li><a href="">Membres du RED</a></li>
                                            <li><a href="services-style-two.html">Nous contacter</a></li>
                                        </ul>
									</li>
                                    <li><a href="#">Articles</a>
                                        <ul class="dropdown">
                                            <li><a href="">Droit</a></li>
                                            <li><a href="">Economie</a></li>
                                        </ul>
                                    <li><a href="{{ path ('news_index') }}">Actualités</a></li>
                                    <li><a href="#">Base de données</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Droit</a>
                                                <ul class="dropdown">
                                                    <li><a href="practice-style-one.html">Codes</a></li>
                                                    <li><a href="practice-style-two.html">Jurisprudence</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Economie</a>
                                                <ul class="dropdown">
                                                    <li><a href="caseresult-style-one.html">Open Data</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Répères Méthologiques</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Droit</a>
                                                <ul class="dropdown">
                                                    <li><a href="practice-style-one.html">Commentaires d'arrêt</a></li>
                                                    <li><a href="practice-style-two.html">Cas pratique</a></li>
                                                    <li><a href="practice-style-two.html">Dissertation</a></li>
                                                    <li><a href="practice-style-two.html">Note de synthèse</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Economie</a>
                                                <ul class="dropdown">
                                                    <li><a href="caseresult-style-one.html">Economie théorique</a></li>
                                                    <li><a href="caseresult-style-one.html">Statistique et économétrie</a></li>
                                                    <li><a href="caseresult-style-one.html">Economie expérimentale</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>


									<li><a href="#">Nous contacter</a>
									</li>
                                    <li><a href="#search" class="search-btn"><i class="fa fa-search"></i></a></li>
								</ul>
							</div>
							<!-- Nav End -->
						</div>
					</nav>
				</div>
			</div>
        </div>
        <!-- End Main Menu Area -->

        <!-- Start Search Popup Area -->
        <div id="search">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="SEARCH KEYWORD(s)" />
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
        </div>
        <!-- End Search Popup Area -->
        {% block content %}

        {% endblock %}
        <!-- Start Footer Area -->
        {% include 'partials/footer.html.twig' %}
        <!-- End Footer Area -->
        <div class="go-top"><i class="fa fa-angle-up"></i></div>
        <!-- jQuery Min JS -->
        <script src="/assets/js/jquery-min.js"></script>
        <!-- Prpper JS -->
        <script src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Jquery Magnific Popup Min Js -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Jquery Mixitup Min Js -->
        <script src="/assets/js/jquery.mixitup.min.js"></script>
        <!-- Owl Carousel Min Js -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- Jquery CounterUp Min JS -->
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <!-- Waypoints Min Js -->
        <script src="/assets/js/waypoints.min.js"></script>
        <!-- Wow Min JS -->
        <script src="/assets/js/wow.min.js"></script>
        <!-- Classy Nav Min JS -->
        <script src="/assets/js/classy-nav.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="/assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>