{% extends 'base.html.twig' %}

{% block title %} Nos Etudes de cas {% endblock %}

{% block content %}

 <!-- Start Page Title Area -->
		<div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <h3>Case List</h3>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>/</li>
                                    <li>Case List</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<!-- End Page Title Area -->
      
        <!-- Start Case Result Area -->
		<section class="case-result-area case-style-one ptb-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-8 col-md-7 col-sm-7">
		                <div class="row">
		                    <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img1.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Solving Financial Debt</a></h3>
                                        <span>Corporate Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img2.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Felony fraud larceny trial acquittal</a></h3>
                                        <span>Fraud Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img3.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Difficult case with copyright law</a></h3>
                                        <span>Copyright Law</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img4.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Recovery after car accident</a></h3>
                                        <span>Accident Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img5.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Drug Injury</a></h3>
                                        <span>Drug Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img6.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Illegal Construction</a></h3>
                                        <span>Illegal Law</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img7.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Attempted Murder/Shooting not guitly </a></h3>
                                        <span>Murder Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img8.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Domestic assault dismissed</a></h3>
                                        <span>Domestic Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img9.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Patient ruling over electronics company</a></h3>
                                        <span>Patient Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img1.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Solving Financial Debt</a></h3>
                                        <span>Corporate Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img2.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Felony fraud larceny trial acquittal</a></h3>
                                        <span>Fraud Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img3.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Difficult case with copyright law</a></h3>
                                        <span>Copyright Law</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img4.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Recovery after car accident</a></h3>
                                        <span>Accident Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="single-case-result">
                                    <div class="case-image">
                                        <img src="assets/img/case-img5.jpg" alt="case-img">
                                    </div>
                                    <div class="case-content">
                                        <h3><a href="caseresult-details.html">Drug Injury</a></h3>
                                        <span>Drug Issues</span><br>
                                        <a href="caseresult-details.html" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="pagination-area">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-lg-4 col-md-5 col-sm-5">
		                <div class="side-bar mb-0">
		                    <div class="side-bar-box search-box">
		                        <form>
		                            <input type="text" class="form-control" name="search" id="search-input" placeholder="Search">
		                            <button type="submit"><i class="fa fa-search"></i></button>
		                        </form>
		                    </div>
		                    
		                    <div class="side-bar-box categories-box">
		                        <h3 class="title">Categories</h3>
		                        <ul>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> News (10)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Legal News (15)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Events (09)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Resources (19)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Illegal News (13)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Legal Alerts (16)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Investigations (05)</a></li>
		                        </ul>
		                    </div>
		                    
		                    <div class="side-bar-box tags-box">
		                        <h3 class="title">Tags</h3>
		                        <ul>
		                            <li><a href="#">Resources</a></li>
		                            <li><a href="#">Law</a></li>
		                            <li><a href="#">Events</a></li>
		                            <li><a href="#">Illegal</a></li>
		                            <li><a href="#">Criminal</a></li>
		                            <li><a href="#">Family</a></li>
		                            <li><a href="#">News</a></li>
		                            <li><a href="#">Legal</a></li>
		                            <li><a href="#">Civil</a></li>
		                            <li><a href="#">Divorce</a></li>
		                            <li><a href="#">Investment</a></li>
		                        </ul>
		                    </div>
		                    
		                    <div class="side-bar-box recent-post mb-0">
		                        <h3 class="title">Recent Post</h3>
		                        <div class="single-recent-post">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img1.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                        
		                        <div class="single-recent-post">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img2.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                        
		                        <div class="single-recent-post mb-0">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img3.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- End Case Result Area -->
        
        <!-- Start Partner Area -->
        <section class="partner-area ptb-80">
		    <div class="container">
                <div class="section-title">
                    <h3>Clinet</h3>
                    <h2>Our <span>Partner</span></h2>
                </div>
		        <div class="row">
                    <div class="partner-slider">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
                        </div>
                        
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
                        </div>
                    </div>
		        </div>
		    </div>
		</section>
        <!-- End Partner Area -->

{% endblock %}